<!DOCTYPE html>
<html>
  <head>
    <title>Edukasyon.ph by Inggo E.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css">

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
